<!DOCTYPE html>
<html>
<head>
	<title>Simul</title>
	
	<link rel="stylesheet" href="/css/results.css">
	
	<%= $js_css_links %>
</head>

<body>
	<div class="container">
		<div class="row">
		
		  <div class="col-md-2">
	  	
		  </div>
	  
		  <div class="col-md-8" id="search-container">
		  
			<form class="form-search" method="post" action="/">
			 	 <div class="input-group input-group-lg">
					 <input type="text" class="form-control" id="search-bar" name="query" placeholder="<%= $rp[rand(0..$rp.length)] %>" value="<%= @query %>" autocomplete="off" required>
					 <span class="input-group-btn">
						 <a class="btn btn-default" href="/">
						 	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						 </a>
					 </span>
			 	</div>
	          </form>
			    <!-- <hr/> -->
		  </div>
	  
	  
		  <div class="col-md-2">
	  	
		  </div>
		</div> <!-- row -->

		<div id="result">
			<div id="title">Results from Google</div>
			<hr id="sep-line"></hr>
			
			<div id="google-box">
				<iframe width="636" height="792" frameborder=0 style="border:0" ALLOWTRANSPARENCY="true" src="/frames/gs-frame/frame.html?q=<%=@query%>"></iframe>
			</div>
		</div>
		
		<div id="result">
			<div id="title">Results from Google</div>
			<hr id="sep-line"></hr>
			
			<div id="google-box">
				<iframe width="636" height="792" frameborder=0 style="border:0" ALLOWTRANSPARENCY="true" src="/frames/gs-frame/frame.html?q=<%=@query%>"></iframe>
			</div>
		</div>
		
	  	<p>&nbsp;</p>
	  	<p>&nbsp;</p>
		
	</div> <!-- container -->
	
</body>
</html>